{{!< default}}

{{> cover this}}

<section class="wrapper" tabindex="0">
  <div class="wrapper-container">
    <h1>404 - Page not found</h1>
    <p>Don't worry though, we're hard at work searching for it</>
    <div class="error-image">
        <img src="{{asset "images/404.jpg"}}">
    </div>
    {{> footer this}}
  </div>
</section>
